body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.sidebar{
    background-color: rgb(217, 217, 217);
    box-sizing: border-box;
    position: fixed;
    margin: 0;
    padding:0;
    width:15%;
    height: 100%;
    text-align: center;
    border-right: 0.1em solid black;
    overflow-y: auto;
    box-shadow: 0.1em 0.1em 0.5em 0.15em grey;
}
.sidebar h2{
    color: black;
    left:5.3em;
    padding: 1em 0;
    margin:0 0;
}
.sidebar ul{
    box-sizing: border-box;
    text-align: center;
    list-style-type: none;
    left: 0em;
    top:3em;
    padding-left: 0;
    padding:0;
    margin:0;
}
.sidebar ul li:first-child{
    border-top: 0.1em solid black;
}
.sidebar ul li{
    box-sizing: border-box;
    position: relative;
    text-align: left;
    padding:0.75em 0em;
    left:0em;
    margin: 0 0;
    border-bottom: 0.1em solid black;
    width: 100%;
}
.sidebar .nav{
    text-align: center;
    text-decoration: none;
    color:black;
    margin:1.5em;
}
.content{
    position: relative;
    box-sizing: border-box;
    top:0;
    left:15%;
    width:85%;
    padding: 0em 3em;
}
.content h1{
    display: inline-block;
    margin:0;
    padding: 0.6em 0;
}
.content h2{
    display: inline-block;
    margin:0;
}
table {
    background-color: rgb(229, 201, 255);
    text-align: center;
    width: 70%;
    border:0.05em solid rgb(177, 94, 255);
    border-spacing:0;
    border-radius: 0.3em;
}
th,td{
    padding:0.5em;
}
table th:not(:last-child),
table td:not(:last-child) {
 border-right: 1px solid rgb(177, 94, 255);
}
table>thead>tr:not(:last-child)>th,
table>thead>tr:not(:last-child)>td,
table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td,
table>tfoot>tr:not(:last-child)>th,
table>tfoot>tr:not(:last-child)>td,
table>tr:not(:last-child)>td,
table>tr:not(:last-child)>th,
table>thead:not(:last-child),
table>tbody:not(:last-child),
table>tfoot:not(:last-child) {
 border-bottom: 1px solid rgb(177, 94, 255);
}
p span{
    font-weight: bold;
}
img{
    max-width: 60%;
}
.sidebar ul li:hover{
    background-color: rgb(213, 169, 255);
    text-decoration-color: aliceblue;
    text-decoration-style: bold;
}