body{
    margin:0;
    padding:0;
    font-family: 'Glacial Indifference', sans-serif;
                                                
}
header{
    margin:2em 4em;
}
h1{
    margin: 0;
}
header p{
    font-style: italic;
    margin:0;
}
.content{
    padding:1.5em 4em;
    background-image: url(images/background.png)
}
.content input{
    height: 1.6em; 
    border: 0.1em solid #BB8B9D;
}
.content #name{
    margin-left: 1.9em;
    margin-right: 0.8em;
    width: 20em;
}
.content #gender{
    margin-left: 0.4em;
    width:7em;
}
.content #address{
    margin-left: 0.8em;
    width: 33.5em;
}
.content #email{
    margin-left: 2.2em;
    width: 33.5em;
}
.content #phone{
    margin-left: 1.7em;
    width:10em;
}
.content h4{
    margin-right:0.4em;
    margin-top:0;
    margin-bottom:0.5em;
}
.content p{
    margin-top: 0;
    margin-bottom: 0.4em;
}
.content h4,p{
    display: inline-block;
}
.content textarea{
    margin-top: 0.1em;
    border: 0.1em solid #BB8B9D;
}